AIRFLOW_IMAGE_NAME=apache/airflow:3.2.2
AIRFLOW_PROJ_DIR=./airflow
SPARK_DIR=./spark
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
SPARK_JOBS_DIR=/opt/spark/jobs

MLFLOW_VERSION=latest
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5000

# có dạng `postgresql+psycopg2://<USERNAME>:<PASSWORD>@<RDS_ENDPOINT>:<PORT>/<DATABASE_NAME>`
MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://nqvuong23:nqvuong23@nt114-mlops-db-instance.c96k6w4e6cuj.ap-southeast-1.rds.amazonaws.com:5432/mlflow_db
MLFLOW_ARTIFACTS_DESTINATION=s3://nt114-mlops-bucket/mlflow-artifacts-store

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-1

S3_BUCKET=nt114-mlops-bucket     

RDS_HOST=nt114-mlops-db-instance.c96k6w4e6cuj.ap-southeast-1.rds.amazonaws.com 
RDS_PORT=5432             
RDS_TRANSACTIONS_DB=transactions_db
RDS_MLFLOW_DB=mlflow_db
RDS_DEFAULT_DB=postgres
RDS_USER=nqvuong23
RDS_PASSWORD=nqvuong23

ALERT_EMAIL=nguyenquocvuong160705@gmail.com
SLACK_WEBHOOK_URL=
API_GATEWAY_URL=