AIRFLOW_IMAGE_NAME=apache/airflow:3.2.2
AIRFLOW_PROJ_DIR=./airflow
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
AIRFLOW_API_URL=http://localhost:8080
AIRFLOW_API_USER=admin
AIRFLOW_API_PASS=admin

SPARK_DIR=./spark
SPARK_JOBS_DIR=/opt/spark/jobs

# có dạng `postgresql+psycopg2://<USERNAME>:<PASSWORD>@<RDS_ENDPOINT>:<PORT>/<DATABASE_NAME>`
MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://nqvuong23:nqvuong23@nt114-mlops-db-instance.c96k6w4e6cuj.ap-southeast-1.rds.amazonaws.com:5432/mlflow_db
MLFLOW_ARTIFACTS_DESTINATION=s3://nt114-mlops-bucket/mlflow-artifacts-store
MLFLOW_TRACKING_URI=http://mlflow-server:5000
MLFLOW_VERSION=latest
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5000

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-1

S3_BUCKET_NAME=nt114-mlops-bucket     
S3_PREFIX_RAW=raw-data
S3_PREFIX_PROCESSED=processed-data
S3_PREFIX_FEATURE=feature-store
S3_PREFIX_PREDICTION=prediction
S3_PREFIX_DEAD_LETTER=dead-letter
S3_PREFIX_TRAINING_DATASET=training-dataset
S3_PREFIX_DRIFT_REPORTS=evidently-ai-report
S3_PREFIX_REFERENCE_LOGS=reference-logs

RDS_HOST=nt114-mlops-db-instance.c96k6w4e6cuj.ap-southeast-1.rds.amazonaws.com 
RDS_PORT=5432             
RDS_TRANSACTIONS_DB=transactions_db
RDS_MLFLOW_DB=mlflow_db
RDS_DEFAULT_DB=postgres
RDS_USER=nqvuong23
RDS_PASSWORD=nqvuong23

ALERT_EMAIL=nguyenquocvuong160705@gmail.com
SLACK_WEBHOOK_URL=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ngoinha.759.com@gmail.com
SMTP_PASSWORD=

MODEL_ECS_ENDPOINT=
API_GATEWAY_URL=
API_USERNAME=
API_PASSWORD=

PROMOTION_DELTA=0.01
DEFAULT_DATA_DRIFT_THRESHOLD=0.3
DEFAULT_PREDICTION_DRIFT_THRESHOLD=0.05
LOOKBACK_DAYS=7